@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat.ttf") format("truetype"); /* Safari, Android, iOS */
}

* {
  font-family: Montserrat, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  color: #ffffff;
  background-color: #383257;
}

h1 {
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 0;
}

a {
  color: #1fc7d4;
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  text-align: center;
}

.main-subtitle {
  margin-top: 0;
}

.presentation {
  font-size: 20px;
}

.action-forms {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin-top: 10px;
}

#double-arrow {
  align-self: center;
  margin: 0 50px;
}
